/* FAOSTAT Colors definition */

$main-blue : #379bce;
$medium-blue : #40769e;
$dark-blue : #174c74;
$light-gray : #f5f5f5;
$box-bg : #e5e5e5;
$ultra-light-gray : #e6e6e6;
$main-text: #666666;
$shadow-color : rgba(0, 0, 0, 0.1);
$transp-black: rgba(0,0,0, 0.70);


