/* FAOSTAT Colors definition */

$main-blue : #379bce;
$blue-hover: #62B6E0;
$medium-blue : #40769e;
$medium-blue-hover : #598DB2;
$dark-blue : #174c74;
$light-blue : #a6d4ec;
$light-gray : #f5f5f5;
$box-bg : #e5e5e5;
$gray : #a3a3a3;
$ultra-light-gray : #e6e6e6;
$main-text: #666666;
$shadow-color : rgba(0, 0, 0, 0.2);
  $transp-black: rgba(64,118,158, 0.90);

$home-icons-border: rgba(55, 155, 206, 0.3);;




