/* DOMAIN ICONS */
.fs-domain {
  height: 70px;
  padding: 15px 0;
  cursor: pointer;
  border-bottom:1px solid $ultra-light-gray;
  .fs-domain-ico{
    float: left;
    position: relative;
    @include fs-domain-ico (1, 3);
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -22px;
      margin-top: -22px;
      background-color: transparent;
      @include border-radius(100%);
        border: 4px solid transparent;
      transition: all 0.218s ease 0s;
    }
  }
  .fs-domain-text {
    margin-left: 10px;
    height: 38px;
    float: left;
    padding: 5px 0;
    .fs-domain-title {
      max-width: 175px;
      min-width: 125px;
      font: $fs-text-domain-title;
      color: $main-blue;
      background-color: white; /* remove if there is no animation */
      position: relative; /* remove if there is no animation */
      z-index: 1; /* remove if there is no animation */
      top: 6px; /* remove if there is no animation */
      transition: top 0.1s ease 0s;
    }
    span {
      margin-right: 20px;
      position: relative; /* remove if there is no animation */
      top: -6px; /* remove if there is no animation */
      transition: top 0.1s ease 0s;
    }
  }
  &:hover { /* remove if there is no animation */
    .fs-domain-text {
      .fs-domain-title {
        top: 0px;
        transition: top 0.218s ease 0s;
      }
      span {
        top: 2px;
        transition: top 0.218s ease 0s;
      }
    }
    .fs-domain-ico{
      &:after{
        border: 4px solid $home-icons-border;
        transition: all 0.218s ease 0s;
      }
    }
  }
  &:last-child {
    border-bottom:1px solid transparent;
  }
}

/* ----------------------------------------- */

.fs-domain-prod {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (1, 3);
  }
}

.fs-domain-emiag {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (4, 4);
  }
}

.fs-domain-pric {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (1, 5);
  }
}

.fs-domain-popu {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (3, 5);
  }
}

/* ----------------------------------------- */

.fs-domain-trade {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (3, 4);
  }
}

.fs-domain-emilu {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (4, 4);
  }
}

.fs-domain-reso {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (2, 5);
  }
}

.fs-domain-fores{
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (5, 3);
  }
}

/* ----------------------------------------- */

.fs-domain-foodsec {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (3, 3);
  }
}

.fs-domain-foodsup {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (2, 3);
  }
}

.fs-domain-inves {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (4, 3);
  }
}

.fs-domain-asti {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (4, 5);
  }
}

/* ----------------------------------------- */

.fs-domain-fbs {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (2, 4);
  }
}

.fs-domain-commbal {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (4, 5);
  }
}

.fs-domain-agriind {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico (1, 4);
  }
}

.fs-domain-emerg {
  @extend .fs-domain;
  .fs-domain-ico{
    @include fs-domain-ico(5, 5);
  }
}

.fs-domain-lastbtn {
  height: 70px;
  padding: 25px 0 15px 0;
    span {
      float: right;
      color: $main-blue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
}